*{
       margin: 0px;
       padding: 0px;
}

#organize{
       background-color: #746CBC;
       width: 100%;
}

.itens a{
       color:  #06060A;
       font-size: 22pt;
       margin-left: 70px;
}

.itens a:hover{
       color: #FCFCFC;
}
.logo{
font-size: 24pt;
}

.navbar {
       z-index: 999999;
     }
