@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300;400;500;600&family=Open+Sans:wght@300;400;600;700&display=swap');

*{
    padding:0;
    margin:0;
    outline:0;
    box-sizing: border-box;
}

body{
    font: 400 12px Open Sans, sans-serif;
    -webkit-font-smoothing: antialiased;
}

/* button{
    font-family: Open Sans, sans-serif;
    cursor: pointer;
} */
/* 
input, textarea{
    font: 700, 1px, Open Sans, sans-serif;
} */

h1{
    font-family: Mali, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;  
}

h2{
    font-weight: 300;
    font-style: normal;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #3D393F;
    font-weight:300;  
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #3D393F;
    font-weight:300;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #3D393F;
    font-weight:300;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #3D393F;
    font-weight:300;
}
